/* Center heading */
.h1 {
  text-align: center;
}

/* Responsive container */
.container {
  overflow: auto;
  margin: 0 auto;
  width: 100vw;
  max-width: 90vw;
  height: 80vh;
}
/* ___________________ Scroll Bar Styling ________________________ */
.container::-webkit-scrollbar {
  width: 0.8rem;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.6rem;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #057845;
}
/* ___________________ Scroll Bar Styling ______________________________ */

/* Table styling */
.table {
  width: 100vw;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.8rem;
  text-align: left;
  white-space: nowrap;
}

/* Sticky table header */
.table thead {
  position: sticky;
  top: 0;
  z-index: 50;
}

/* Table Header Styling */
.table th {
  text-transform: uppercase;
  background-color: #057845;
  color: white;
}

/* Fixed Checkboxes */
.fixed_Select {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #f4fffb;
  text-align: center;
}

.Actions_Fixed {
  position: sticky;
  right: 0;
  z-index: 0;
  background-color: #f4fffb;
  text-align: center;
}

.fixed_Select input[type="checkbox"] {
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

/* Alternate row background color */
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect */
.table tbody tr:hover {
  background-color: #05884f;
  color: white;
}

tr:hover td.fixed_Select,
tr:hover td.Actions_Fixed {
  background-color: #05884f;
  color: white;
  z-index: 23;
}

.actionbtn {
  align-items: center;
}

/* Button Styling */
.table tbody tr td button {
  background-color: #c2fbd7;
  border-radius: 1rem;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -1.5625rem 1.125rem -0.875rem inset,
    rgba(44, 187, 99, 0.15) 0 0.0625rem 0.125rem,
    rgba(44, 187, 99, 0.15) 0 0.125rem 0.25rem,
    rgba(44, 187, 99, 0.15) 0 0.25rem 0.5rem,
    rgba(44, 187, 99, 0.15) 0 0.5rem 1rem, rgba(44, 187, 99, 0.15) 0 1rem 2rem;
  color: green;
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  transition: all 250ms;
  border: none;
}

.table tbody tr td button:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -1.5625rem 1.125rem -0.875rem inset,
    rgba(44, 187, 99, 0.25) 0 0.0625rem 0.125rem,
    rgba(44, 187, 99, 0.25) 0 0.125rem 0.25rem,
    rgba(44, 187, 99, 0.25) 0 0.25rem 0.5rem,
    rgba(44, 187, 99, 0.25) 0 0.5rem 1rem, rgba(44, 187, 99, 0.25) 0 1rem 2rem;
  transform: scale(1.05) rotate(-1deg);
}

/* Text truncation with ellipsis */
.description,
.title,
.descriptionTitle,
.location {
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Show full text on hover */
.description:hover {
  overflow: visible;
  text-wrap: wrap;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #07d17a;
  border-radius: 1rem;
  min-width: 10rem;
  z-index: 9;
}

table tr:nth-last-child(-n + 3) .dropdown-content {
  right: 0;
  bottom: 2.2rem;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
